Source: kdemultimedia
Section: contrib/x11
Priority: extra
Maintainer: Stephan Kulow <coolo@kde.org>
Standards-Version: 2.5.0

Package: kdemultimedia
Architecture: any
Depends: ${shlibs:Depends}, kdebase, cddb
Description: KDE multimedia package
 This is a collection of kde programs related to multimedia :
  kmix - a mixer,
  kscd - a cd program,
  kmedia - a music player
  kmid, kmidi - midi player
